h1 {
    text-align: center;
}

nav {
    margin: 20px;
    display: flex;
}

nav .btun {
    display: flex;
    justify-content: left;
}

nav .bttwo {
    display: flex;
    justify-content: right;
}